# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env

# Environments
.env
.venv
env/
venv/
ENV/

# All txt files
*.txt

# Directories
bing_with_site/
bing_without_site/
instagram_experiments/
temp_git_fix/
